.button_shadow {
  box-shadow: inset 1px 1px 1px rgba(192, 159, 243, 0.75),
    inset 0px -1px 1.2px rgba(92, 33, 186, 0.22);
  filter: drop-shadow(1px 3px 8.9px rgba(53, 28, 92, 0.43))
    drop-shadow(4px 23px 9px rgba(58, 21, 115, 0.04))
    drop-shadow(0px 1px 3px rgba(53, 19, 107, 0.29));

  background: #efeff3;

  color: rgba(109, 40, 217, 0.7);
}
